<div class="row">
  <ul>
    <li><a href="https://azure.microsoft.com/en-us/solutions/serverless/" target="_blank">Serverless in Azure</a></li>
    <li><a href="https://azure.microsoft.com/en-us/overview/serverless-computing/" target="_blank">Serverless Computing</a></li>
    <li><a href="https://serverless.com/" target="_blank">Serverless.com</a></li>
    <li><a href="https://docs.microsoft.com/en-us/azure/functions/tutorial-static-website-serverless-api-with-database" target="_blank">Build a Serverless web app in Azure</a></li>
    <li><a href="https://rickvdbos.ch/mswfy" target="_blank">https://rickvdbos.ch/mswfy</a></li>
  </ul>
</div>
<div class="row">
  <div class="col"></div>
  <div class="col"><img src="../../../assets/images/serverless.jpg" /></div>
  <div class="col"></div>
</div>