@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

html, body {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

input {
  border: 0;
  font-size: 20px;
}

footer{
  color: #fff;
  width: 100%;
  padding: 20px;
  font-style: italic;
  background-color: #333;

  a:visited, a:hover{
    color: #fff;
  }

  img {
    height: 48px;
    margin-right: 20px;
  }
}